@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Kullanıcı Rol İşlemleri";
}

<h5>Kullanıcı Rol İşlemleri</h5>

MVC projesinde User, Role ve UserRole controllerları oluşturulup API ile bağlantıları kuruldu.