@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    ViewBag.Title = "Forgot My Password!";
}

@section customStyles {

}

@section customScripts {

}

<div class="row w-100 h-100 m-0">
    <!-- left menu start -->
    <div class="col h-100 img-container">
        <img src="~/images/authentication/forgot-password.png" class="h-100 w-100" alt="">
    </div>
    <!-- left menu end -->

    <!-- right menu start -->
    <div class="col d-flex align-items-center">
        <form name="forgotPasswordForm" class="w-100">
            <div class="text-center">
                <img src="~/images/logo.png" width="250" height="150" alt="">
            </div>
            <h2>Forgot your password?</h2>
            <p class="lead fst-italic text-secondary fs-6 opacity-75">Please enter your registered information to reset your password...</p>

            <!-- userName start -->
            <div class="form-group">
                <label for="userName" class="form-label">Username</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-person"></i></span>
                    <input type="text" id="userName" class="form-control" name="userName" placeholder="Please enter your username..." required>
                </div>
            </div>
            <!-- userName end -->

            <!-- phone start -->
            <div class="form-group">
                <label for="phone" class="form-label">Phone Number</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-telephone"></i></span>
                    <input type="tel" id="phone" class="form-control" name="phone" placeholder="Please enter your phone number..." required>
                </div>
            </div>
            <!-- phone end -->

            <!-- email start -->
            <div class="form-group">
                <label for="email" class="form-label">Email Address</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class="bi bi-envelope"></i></span>
                    <input type="email" id="email" class="form-control" name="email" placeholder="Please enter your email address..." required>
                </div>
            </div>
            <!-- email end -->

            <!-- buttons start -->
            <div class="button-group d-flex gap-2 my-2">
                <button type="button" id="btn-forgot-password" class="btn btn-primary w-50"><i class="bi bi-person-check"></i> Forgot My Password!</button>
                <a href="~/Authentication/Login" class="btn btn-danger w-50"><i class="bi bi-arrow-left-circle"></i> Return to Login Page!</a>
            </div>
            <!-- buttons end -->
        </form>
    </div>
    <!-- right menu end -->
</div>
