@{
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
    ViewBag.Title = "Reset Password!";
}

@section customStyles {

}

@section customScripts {

}

<div class="row w-100 h-100 m-0">
    <!-- left menu start -->
    <div class="col h-100 img-container">
        <img src="~/images/authentication/reset-password.png" class="h-100 w-100" alt="">
    </div>
    <!-- left menu end -->

    <!-- right menu start -->
    <div class="col d-flex align-items-center">
        <form name="resetPasswordForm" class="w-100">
            <div class="text-center">
                <img src="~/images/logo.png" width="250" height="150" alt="">
            </div>

            <h2>Set a New Password!</h2>
            <p class="lead fst-italic text-secondary fs-6 opacity-75">We received your password reset request. Please set your new password...</p>
            <p class="lead fst-italic text-danger fs-6 opacity-75">Your new password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.</p>
            <p class="lead fst-italic text-danger fs-6 opacity-75">Your password should not include personal information like your name, surname, username, or special dates.</p>

            <input type="hidden" id="code" name="code" value="@ViewBag.Code">

            <!-- newPassword start -->
            <div class="form-group">
                <label for="newPassword" class="form-label">New Password</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" id="newPassword" class="form-control" name="newPassword" placeholder="Please set a new password..." required>
                </div>
            </div>
            <!-- newPassword end -->

            <!-- controlNewPassword start -->
            <div class="form-group">
                <label for="controlNewPassword" class="form-label">Confirm Password</label>
                <div class="input-group flex-nowrap">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <input type="password" id="controlNewPassword" class="form-control" name="controlNewPassword" placeholder="Please confirm your new password..." required>
                </div>
            </div>
            <!-- controlNewPassword end -->

            <!-- buttons start -->
            <div class="button-group d-flex gap-2 my-2">
                <button type="button" id="btn-reset-password" class="btn btn-primary w-50" ng-click="resetPassword()">Change Password!</button>
                <a href="~/Authentication/Login" class="btn btn-danger w-50"><i class="bi bi-arrow-left-circle"></i> Return to Login Page!</a>
            </div>
            <!-- buttons end -->
        </form>
    </div>
    <!-- right menu end -->
</div>
